USE [master]
GO
/****** Object:  Database [practica1]    Script Date: 02/09/2017 02:26:13 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'practica1')
BEGIN
CREATE DATABASE [practica1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practica1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\practica1.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'practica1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\practica1_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practica1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
